body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#796764;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}

:root {
  /* Colors */
    -pickled-bluewood: #384760;
--wafer: #deccc3;
--polo-blue: #89add0;
--bermuda-gray: #7288a3;
--pomegranate: #f64a25;
--baltic-sea: #201d23;
--nepal: #849ebe;
--waikawa-gray: #576f94;
--sandstone: #796764;
--big-stone: #101b35;

  /* font */
  --family: 'Poppins', sans-serif;
  --fw-normal: 500;
  --fw-bold: 700;

  --radii: 1rem;
  --radii-sm: 0.5rem;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 0;
  padding-right: 0;
  }
}

#root {
  width: 100%;
  overflow: hidden;
}
.ContactForm {
  font-family: sans-serif;
  text-align: center;
}
body {
  background: #384760;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  padding: 0 20px 50px;
}

img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  position: relative;
  top: 6px;
}

.h1 {
  margin-top: 80px;
  color: white;
  font-size: 25px;
  padding-bottom: 0px;
}

.form {
  max-width: 800px;
  margin: 0 auto;
}

.p {
  color: #f64a25;
  text-align: center;
}

textarea,
select,
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.label,
section > label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

input[type="submit"],
.button {
  position: relative;
  background: #f64a25;
  color: white;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
  font-weight: 400;
  letter-spacing: 0.5rem;
  transition: 0.3s all;
}

.buttonBlack {
  background: 384760;
  border: 1px solid white;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


button[type="button"] {
  padding: 5px;
  background: #516391;
  color: white;
  letter-spacing: 0px;
  text-transform: none;
  padding: 10px;
  letter-spacing: 1px;
}

input[type="submit"]:hover,
button[type="button"]:hover {
  background: #f64a25;
  color: white;
}

input[type="submit"]:active {
  transition: 0.3s all;
  top: 2px;
}

.preact {
  opacity: 0;
  color: white;
}

.preact:hover {
  opacity: 1;
}
